body{
	font-family: 'Noto Sans TC', sans-serif;
	color:#666666
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
	color:black
}

.subheading{
	text-transform:none;
	font-family: 'Noto Sans TC', sans-serif;
}

#about{
	line-height:3.5rem
}

interest, .skill{
	font-size:25px
}

a{
	color:#8B008B
}

a:active,a:focus,a:hover{
	color:##8B008B
}

.text-primary{
	color:#8B008B !important
}

.bg-primary{
	background-color:#c164d4 !important;
	background-image: url("https://www.transparenttextures.com/patterns/white-plaster.png");
}

.social-icons a:hover{
	background-color:#D1BBFF
}

p1{
	border: 3px solid #f5f5f5;

}
