body {font-family: 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6 {font-family: 'Noto Sans TC', sans-serif;}
.subheading {font-family: 'Noto Sans TC', sans-serif;}
.bg-primaryimage: {
  background-color: #c164d4 important!;
}
table {
	width:50%       
}
tr:nth-child(even) {
	 background-color:#c164d4;
}
tr:hover{
  font-weight:bold
}
tr:first-child {
	border-bottom:3px,solid,#000000；
}
© 2020 GitHub, Inc.
